# install Husky
if [ ! -f ".husky/_/husky.sh" ]; then
  npx husky init
fi

# add commit message hook
if [ ! -f ".husky/commit-msg" ]; then
  echo 'npx commitlint --edit $1' > .husky/commit-msg
fi

# add pre-commit hook
if [ ! -f ".husky/pre-commit" ]; then
  echo 'npx lint-staged' > .husky/pre-commit
fi

# add pre-push hook
if [ ! -f ".husky/pre-push" ]; then
  echo 'npm run check' > .husky/pre-push
fi
