.github
.idea/*
.nyc_output
.vscode/*
cdk.out
coverage
dist
doc
docs
node_modules

CHANGELOG.md
.dockerignore
.editorconfig
.eslintignore
.gitchangelog.rc
.gitignore
.gitlint
.node-version
.npmignore
.npmrc
.prettierignore
